In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_json('dataset/user-wallet-transactions.json')

In [3]:
dataset.head(5)

,_id,userWallet,network,protocol,txHash,logId,timestamp,blockNumber,action,actionData,__v,createdAt,updatedAt
0,{'$oid': '681d38fed63812d4655f571a'},0x00000000001accfa9cef68cf5371a23025b6d4b6,polygon,aave_v2,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,2021-08-17 05:29:26,1629178166,deposit,"{'type': 'Deposit', 'amount': '2000000000', 'a...",0,{'$date': '2025-05-08T23:06:39.465Z'},{'$date': '2025-05-08T23:06:39.465Z'}
1,{'$oid': '681aa70dd6df53021cc6f3c0'},0x000000000051d07a4fb3bd10121a343d85818da6,polygon,aave_v2,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,2021-05-20 15:36:53,1621525013,deposit,"{'type': 'Deposit', 'amount': '145000000000000...",0,{'$date': '2025-05-07T00:19:26.159Z'},{'$date': '2025-05-07T00:19:26.159Z'}
2,{'$oid': '681d04c2d63812d4654c733e'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,2021-07-24 09:28:33,1627118913,deposit,"{'type': 'Deposit', 'amount': '100000000000000...",0,{'$date': '2025-05-08T19:23:47.877Z'},{'$date': '2025-05-08T19:23:47.877Z'}
3,{'$oid': '681d133bd63812d46551b6ef'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,2021-07-31 23:15:18,1627773318,deposit,"{'type': 'Deposit', 'amount': '400000000000000...",0,{'$date': '2025-05-08T20:25:33.141Z'},{'$date': '2025-05-08T20:25:33.141Z'}
4,{'$oid': '681899e4ba49fc91cf2f4454'},0x0000000000e189dd664b9ab08a33c4839953852c,polygon,aave_v2,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,2021-04-19 15:25:07,1618845907,redeemunderlying,"{'type': 'RedeemUnderlying', 'amount': '501548...",0,{'$date': '2025-05-05T10:58:45.934Z'},{'$date': '2025-05-05T10:58:45.934Z'}

In [4]:
dataset['action'].unique()

array(['deposit', 'redeemunderlying', 'borrow', 'repay',
       'liquidationcall'], dtype=object)

In [5]:
dataset = dataset.drop(['_id'], axis=1)

In [6]:
dataset['timestamp']

0       2021-08-17 05:29:26
1       2021-05-20 15:36:53
2       2021-07-24 09:28:33
3       2021-07-31 23:15:18
4       2021-04-19 15:25:07
                ...
99995   2021-06-11 14:20:45
99996   2021-06-13 04:32:59
99997   2021-06-13 04:39:51
99998   2021-06-13 04:43:37
99999   2021-06-15 08:26:17
Name: timestamp, Length: 100000, dtype: datetime64[ns]

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   userWallet   100000 non-null  object
 1   network      100000 non-null  object
 2   protocol     100000 non-null  object
 3   txHash       100000 non-null  object
 4   logId        100000 non-null  object
 5   timestamp    100000 non-null  datetime64[ns]
 6   blockNumber  100000 non-null  int64
 7   action       100000 non-null  object
 8   actionData   100000 non-null  object
 9   __v          100000 non-null  int64
 10  createdAt    100000 non-null  object
 11  updatedAt    100000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 9.2+ MB

In [8]:
len(dataset.blockNumber.unique())

94753